<ion-tabs class="tabs-icon-only">
	
	 <ion-tab title="Home" icon="icon ion-home dashboard" dark href="#/app/home">
	 <ion-nav-view name="tab-home"></ion-nav-view>
	 </ion-tab>

	 <ion-tab title="Settings" icon="icon ion-gear-b dashboard" href="#/app/settings">
	 <ion-nav-view name="tab-settings"></ion-nav-view>
	 </ion-tab>

	 <ion-tab title="ListItem" icon="icon ion-camera dashboard" href="#/app/listItem">
	 <ion-nav-view name="tab-listItem"></ion-nav-view>
	 </ion-tab>

	 <ion-tab title="Matches" icon="icon ion-heart dashboard" href="#/app/match">
	 <ion-nav-view name="tab-match"></ion-nav-view>
	 </ion-tab>

	 <ion-tab title="Profile" icon="icon ion-person dashboard" href="#/app/profile">
	 <ion-nav-view name="tab-profile"></ion-nav-view>
	 </ion-tab>

</ion-tabs>